.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 30%;
}

.input {
  display: flex;
  text-align: left;
  padding: 5px;
}

.input-group {
  margin-right: 20px;
  margin-bottom: 10px;
}

.input-label {
  padding-bottom: 5px;
  font-size: small;
}

.input-field {
  padding-top: 10px;
  padding-right: 20px;
}

.blue-button {
  background-color: rgb(60, 99, 184);
  color: white;
  margin-left: 20px;
  padding: 5px 20px 5px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  align-self: flex-end;
  height: auto;
  font-weight: bold;
}

.blue-button:hover {
  background-color: darkblue;
}

.divider {
  width: 600px;
  height: 1px;
  background-color: #000;
  margin-top: 0px;
  margin-bottom: 10px;
}

.fizzbuzz-list {
  display: flex;
  align-items: flex-start!important;
}
